/actualizaciones_sql.txt
/actualizaciones_sql2.txt
/Consulta Ubigeos duplicados - Copy.xlsx
/Consulta Ubigeos duplicados.xlsx
/datos tabla dinamica.txt
/datos_unificados_rev.xlsx
/INVIERTE_2017_29febrero2024_Analisis_rev.csv
/INVIERTE_2017_29febrero2024_Analisis_rev.xlsx
/proyectos_mef.csv
/proyectos_mefv1.csv
INVIERTE_2017_29febrero2024_Analisis_rev2.rar
INVIERTE_2017_29febrero2024_Analisis_rev2.xlsx
~$INVIERTE_2017_29febrero2024_Analisis_rev2.xlsx
Anexo_02-Clasificador_Responsabilidad_Funcional.csv
Anexo_02-Clasificador_Responsabilidad_Funcional.xlsx
Clasificador_Funcional.csv
CLASIFICADOR_FUNCIONAL.pdf
Clasificador_Funcional.xlsx
Inversiones_March_2024.xlsx
2columnas nuevas y para actualizar.py
~$INVIERTE_2017_29febrero2024_Analisis_rev5.xlsx
Archivo_Combinado_Limpio.csv
Archivo_Combinado.csv
Inversiones_April_2024.xlsx
INVIERTE_2017_29febrero2024_Analisis_rev5.rar
INVIERTE_2017_29febrero2024_Analisis_rev5.xlsx
