/actualizaciones_sql.txt
/actualizaciones_sql2.txt
/Consulta Ubigeos duplicados - Copy.xlsx
/Consulta Ubigeos duplicados.xlsx
/datos tabla dinamica.txt
/datos_unificados_rev.xlsx
/INVIERTE_2017_29febrero2024_Analisis_rev.csv
/INVIERTE_2017_29febrero2024_Analisis_rev.xlsx
/proyectos_mef.csv
/proyectos_mefv1.csv
INVIERTE_2017_29febrero2024_Analisis_rev2.rar
INVIERTE_2017_29febrero2024_Analisis_rev2.xlsx
